body {
    margin: 0;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-weight: 700;
    font-size: 100px;
    color: #FFFFFF;
    text-shadow: 10px 8px 19px #00243F;
    margin: auto;
}

h2 {
    font-weight: 500;
    font-size: 35px;
    color: #FFFFFF;
    text-shadow: 10px 8px 19px #00243F;
    margin: auto;
}

.banner {
    background-image: url('./resources/images/background\ placeholder.svg');
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-logo {
    padding-right: 50px;
    display: flex;
}

.hero-logo img {
    max-width: 100%;
    flex: 1 1 auto;
}

.hero-text {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
}

@media only screen and (max-width: 1068px) {
    .banner {
        flex-direction: column;
    }
    .hero-text h1,
    .hero-text h2 {
        text-align: center;
    }
    .hero-logo {
        padding-right: 0;
    }
    .hero-text {
        padding-left: 0;
    }
    .hero-logo {
        margin: 0 150px;
        min-width: 50%;
    }
}

@media only screen and (max-width: 885px) {
    h1 {
        font-size: 50px;
    }
    h2 {
        font-size: 18px;
    }
}